<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/historicogeral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Histórico Geral</title>
</head>
<body>

    <header> 

        <div id="logoif" class="col-1 col-s-1">
            <img src="../imagens/logoif.png" alt="">
        </div> 

        <div id="titulo" class="col-8 col-s-8">
            <h1>M.E.M.IF</h1>
            <h2>Mini Estação Meteorológica do IF</h2>
        </div>

        <div id="logomemif" class="col-1 col-s-1">
            <img src="../imagens/logomemif.png" alt="">
        </div>

    </header>

    <a href="climaatual.html"><button class="botsup">Clima Atual</button></a>

    <main>

        <div class="row dados">
            <img class="imgdados" src="../imagens/Temperatura.png" alt="">
        </div>

        <div class="row dados">
            <img class="imgdados" src="../imagens/Qualidade do Ar.png" alt="">
        </div>

        <div class="row dados">
            <img class="imgdados" src="../imagens/Pressão Atmosférica.png" alt="">
        </div>

        <div class="row dados">
            <img class="imgdados" src="../imagens/Umidade do ar.png" alt="">
        </div>

        <div class="row dados">
            <img class="imgdados" src="../imagens/Pluviosidade S.png" alt="">
        </div>

    </main>

</body>
</html>