<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Umidade do Ar</title>
</head>
<body>
    
    <header> 

        <div id="logoif" class="col-1 col-s-1">
            <img src="../imagens/logoif.png" alt="">
        </div> 

        <div id="titulo" class="col-8 col-s-8">
            <h1>M.E.M.IF</h1>
            <h2>Mini Estação Meteorológica do IF</h2>
        </div>

        <div id="logomemif" class="col-1 col-s-1">
            <img src="../imagens/logomemif.png" alt="">
        </div>

    </header>

    <main>
        <div class="mainimgcl">
            <img id="mainimgid" src="../imagens/Umidade do ar.png" alt="">
        </div>
    </main>

</body>
</html>